:root {
    --White: hsl(0, 100%, 100%);
    --Purple-100: hsl(275, 100%, 97%);
    --Purple-600: hsl(292, 16%, 49%);
    --Purple-950: hsl(292, 42%, 14%);
}

body {
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Purple-100);
}

details {
    padding-top: 1em; /* 16px */
}

details:not(:last-child){
    border-bottom: 0.063em solid var(--Purple-100); /* 1px */
    padding-bottom: 1em; /* 16px */
}

h1 {
    margin: 0;
    font-weight: 700;
}

h1, summary {
    color: var(--Purple-950);
}

h2 {
    font-size: 1rem; /* 16px */
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 0.906rem; /* 14.5px */
    line-height: 1.5em; /* 21.75px */
    color: var(--Purple-600);
    margin: 1.655em 0 0 0; /* 24px */
}

summary {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
    content: "";
    width: 2em; /* 32px */
    height: 2em; /* 32px */
    margin-left: 2em; /* 32px */
    background-image: url(./images/icon-plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
}

details[open] summary::after {
    background-image: url(./images/icon-minus.svg);
}

.accordian {
    width: 280px;
    background-color: var(--White);
    padding: 1.5em; /* 24px */
    border-radius: 0.5em; /* 8px */
}

.accordian-header {
    display: flex;
    align-items: center;
    gap: 1em; /* 16px */
}

.accordian-header img {
    display: block;
    width: 1.5em; /* 24px */
    height: 1.5em; /* 24px */
}

.attribution {
    font-size: 0.6875rem; /* 11px */
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
